<div class="panel-heading">
  <div class="heading">
    <h4><%= @blog.title %></h4>
    创建时间: <%= @blog.published_time %><br/>
    日志分类: <%= @blog.category.try(:name) %>
  </div>
</div>

<div class="panel-body">
  <%= @blog.content.html_safe %>
  <%= social_share_button_tag("#{@blog.title} via: @#{Settings.site.name}", :popup => true) %>
</div>

<div class="panel-footer">
  <%= link_to "返回收藏列表", admin_blogs_path %>
  <div class="pull-right">
    <%= link_to raw('<span class="glyphicon glyphicon-edit"></span>编辑'), edit_admin_blog_path(@blog), class: "btn btn-sm btn-default" %>
    <%= link_to t(:delete), admin_blog_path(@blog), data: {confirm: t('activerecord.message.blog.delete_confirmation')}, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
</div>
