<div class="site-footer">
  <div class="container">
    <div class="text-muted">
      <i class="fa fa-diamond"></i>
      © <%= Date.current.year %> <%=Settings.site.name%> ·
      <%=I18n.t(:hello)%> ·
      <%= I18n.t(:reserved_right) %> ·
      <%= link_to raw(%Q(<i class="fa fa-envelope-o"></i>#{I18n.t(:report_issue)})), "mailto:rubyfan@163.com" %> ·

      <%= link_to raw(%Q(<i class="fa fa-arrow-up"></i>#{t(:back_top)})), "#" %> ·
      <%= link_to t(:simplified_chinese), url_for(locale: 'zh-CN') %> ·
      <%= link_to t(:english), url_for(locale: 'en') %> ·
      <%= link_to raw(%Q(<i class="fa fa-users"></i>#{t(:about_us)})), about_us_path %> ·
      <%= link_to raw(%Q(<i class="fa fa-bar-chart"></i>#{t(:status)})), '/status' %>
    </div>
  </div>
</div>

