<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <div class="row">
        <div class="col-md-4">
          <%= link_to raw(%Q(<i class="fa fa-diamond"></i>#{Settings.site.name})), root_path, class: params[:controller] == 'home' && action_name == 'index' ? 'active' : '' %>
          <%= link_to t(:topic), posts_path, class: params[:controller] == 'posts' ? 'active' : '' %>
          <%= link_to t(:favorite), codes_path, class: params[:controller] == 'codes' ? 'active' : '' %>
          <%= link_to t(:log), blogs_path, class: params[:controller] == 'blogs' ? 'active' : '' %>
        </div>

        <div class="col-md-5">
          <form action="<%= search_path %>" class="navbar-search" method="get">
            <button type="submit" class="BTN"><i class="fa fa-search"></i> <%= t(:search) %></button>
            <input type="text" name="q" class="TXT" value="" placeholder="<%= t(:search_content) %>">
          </form>
        </div>

        <div class="col-md-3">
          <span class="pull-right">
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= image_tag(current_user.avatar_url(:normal, :thumb), style: 'width:33px;height:39px;padding-bottom:6px') %></li>
              <li class="dropdown">
                <%= link_to raw(%Q(#{current_user.human_name}<b class="caret"></b>)), profile_user_path(current_user), class: "dropdown-toggle link_admin_home", data: { toggle: 'dropdown' } %>
                <ul class="dropdown-menu">
                  <% user_dropdown_hash.each do |k, v| %>
                    <li><%= link_to t(k), v %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to t(:logout), destroy_user_session_path %></li>
                </ul>
              </li>
            </ul>
                <%= link_to raw(%Q(<span class="badge #{(msg_count = messages.try(:unreads).try(:count).to_i) > 0 ? "badge-error" : ''}">#{msg_count}</span>)), messages_path, class: %Q(link_admin_messages #{'active' if controller.class.to_s == "MessagesController"}) %>
         <% else %>
            <label style="color: #777"><%= t(:current_identity) %>：<%= t(:guest) %></label> [
                <%= link_to t(:login), new_user_session_path, id: "link_sign_in", class: params[:controller] == 'users/sessions' ? 'active_only' : '' %>
                |
                <%= link_to %Q(#{t(:join)}#{Settings.site.name}), new_user_registration_path, id: "link_sign_up", class: params[:controller] == 'users/registrations' ? 'active_only' : '' %>
                ]
         <% end %>
         </span>
        </div>
      </div>
    </nav>
  </div>
</div>

<!--use content_tag to generate i label-->