<% if Rails.env.production? %>
  <%= render partial: 'layouts/shared/javascript' %>
<% end %>
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav text_bold">
      <!-- <a class="" > -->
        <%= image_tag('shared/ruby_icon.png', style: 'width:40px;height:40px') %>
      <!-- </a> -->
      <a class="<%= 'active' if action_name == 'index' && params[:controller] == 'frontend/home' %>" href="<%= frontend_root_path %>"><%= Settings.site_name %></a>


      <% if @blogger && @blogger != current_user %>
         <a class="<%= 'active' if controller.class.superclass.to_s == 'BloggerController' %>" href="<%= frontend_path(@blogger) %>"><%= @blogger.human_name %></a>
      <% elsif current_user %>
      <a class="<%= 'active' if controller.class.superclass.to_s == 'BloggerController' %>" href="<%= frontend_path(current_user) %>">我的主页</a>
      <% end %>

      <a class="" href="/bloggers">博客</a>
      <a class="" href="/features">新功能</a>
      <a class="<%= 'active' if action_name == 'about' && params[:controller] == 'frontend/home' %>" href="<%= frontend_site_about_path %>">关于</a>

      <span class="pull-right">
        <% if current_user %>
        <!-- <#%= image_tag(gravatar_url(current_user.email), style: 'width:40px;height:40px;padding-bottom:2px')%> -->
          <%= image_tag('shared/ruby_icon.png', style: 'width:40px;height:40px;padding-bottom:2px')%>

          <a class="link_admin_home <%= 'active' if params[:controller].include?('admin/') && controller.class.to_s != "Admin::MessagesController" %>" href="<%= admin_root_path %>"><%= current_user.human_name %></a>
          <a class="link_admin_messages <%= 'active' if controller.class.to_s == "Admin::MessagesController" %>" href="<%= admin_messages_path %>">
            <span class="label label-success"><%= @messages.count %></span>
          </a>

          <a id="link_sign_out" class="" href="<%= destroy_user_session_path %>">退出</a>
        <% else %>
      <a id="link_sign_up" class="<%= 'active' if params[:controller] == 'users/registrations' %>" href="<%= new_user_registration_path %>">注册</a>

           <a id="link_sign_in" class="<%= 'active' if params[:controller] == 'devise/sessions' %>" href="<%= new_user_session_path %>">登录</a>
        <% end %>
      </span>

    </nav>
  </div>
</div>
