<div class="blog-posts">
  <h4>最近更新的文章: </h4>
  <% if posts.size > 0 %>
    <% posts.each do |post| %>
      <div class="newer_row blog-post">
        <div class="pull-right replies">
            <%= link_to(post.replies.count,"#{frontend_post_path(post)}", class: "count state-false") %>
        </div>
      <div class="post-user pull-left">
          <a target="_blank" href="<%= frontend_path(post.user) %>">
            <%= image_tag(post.user.avatar_url(:thumb), class: 'user_face') %>
          </a>
        </div>

        <div class="href_name post-title">
          <%= link_to post.title, frontend_post_path(post), title: post.title %>
        </div>
        <p class="post-meta">
           <%= link_to post.user.human_name, frontend_path(post.user), target: "_blank" %>
           ·
           <%= link_to post.category.try(:name), frontend_category_path(post.user, post.category) %> · 
           <em>
          <% if post.last_reply_user.nil?%>
            <abbr class="timeago" title="<%= post.published_time %>">
              <%= time_ago_in_words(post.created_at) %>前
            </abbr> 发布
          <% else %>
            最后由 <%= link_to post.last_reply_user.human_name, frontend_path(post.last_reply_user)%> 于 <%= time_ago_in_words(post.created_at) %>前回复
          <% end %>
        </em>

        </p>

        <div class="post-content display_none">
          <%= omited_str(strip_tags(post.content), 150) %>
        </div>
      </div>
    <% end %>
  <% else %>
    最近没有任何文章。
  <% end %>
</div>
