<div class="panel-heading">
  <div class="heading">登录RubyMe</div>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <div class="panel-body">
      <%= devise_error_messages! %>
      <%= f.input :login, autofocus: true, input_html: {class: "login"} %>
      <%= f.input :password %>
      <div class="form-group">
        <label class="col-md-3 control-label">验证码</label>
        <div class="col-md-9">
          <%= rucaptcha_input_tag(class: 'form-control', placeholder: '验证码') %>
          <%= rucaptcha_image_tag(alt: 'Captcha') %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3"> </label>

        <div class="col-md-9">
          <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.label :remember_me, label: "一周内免登录" %>
        </div>
      </div>

      <div class="form-group form-actions">
        <label class="col-md-3"> </label>

        <div class="col-md-9">
          <%= f.submit "现在登录", :class => "btn btn-primary", 'data-disable-with' => "正在登录" %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= render "users/shared/links" %>
    </div>
<% end %>
