<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <a target="_blank" href="<%= profile_user_path(@user) %>">
        <%= image_tag(@user.avatar_url(:large, :content), class: 'bloger_photo') %>
      </a>

      <div class="bloger_name">
        <label><%= @user.human_name %></label>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          博客管理
        </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li><%= link_to '发布文章', new_post_path, class: 'link_new_post' %></li>
          <li><%= link_to '评论管理', user_replies_path(@user), class: 'link_admin_replies' %></li>
          <li><%= link_to '分类管理', user_categories_path(@user), class: 'link_admin_categories' %></li>
          <li><%= link_to '代码收藏', user_codes_path(@user), class: 'link_admin_codes' %></li>
          <li><%= link_to '我的资料', profile_user_path(@user), class: 'link_admin_profile' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          文章管理
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li><%= link_to "全部文章 (#{@user.posts.count})", posts_path %></li>
          <% category_hash = category_count_hash @user.categories.map(&:id) %>
          <% @user.categories.each do |category| %>
              <li>
                <%= link_to "#{category.name} (#{category_hash[category.id].try(:count).to_i })", user_category_path(@user, category) %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          推荐资源
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <% Settings.recomended_websites.each do |key, value| %>
              <li><%= link_to key, value %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
