<%= simple_form_for [@code], html: {class: "form-horizontal form_new_code code-posts"} do |f| %>
    <%= f.association :language, collection: Language.all, label_method: :code, value_method: :id %>
    <%= f.association :category, collection: @categories %>

    <%= f.input :title %>

    <div class="form-group">
      <div class="col-md-10">
        <%= f.cktext_area :content, ckeditor: {toolbar: "Easy", height: 380} %>
      </div>
    </div>

    <div class="form-group form-actions">
      <label class="col-md-3"> </label>

      <div class="col-md-9">
        <%= f.button :submit, t(:update), class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
