<% if @posts.try(:size)|| 0 > 0 %>
    <!--TODO need to do these actions in controller-->
    <div class="panel-heading clearfix">
      <div class="filter pull-right col-md-12">
        <span class="l"><%= t(:check) %>:</span>
        <%= link_to t(:default), posts_path, class: action_name == "index" ? 'active' : '' %> /
        <%= link_to raw(%Q(<i class="fa fa-diamond"></i>#{t(:popular)})), popular_posts_path, class: %Q(popular #{action_name == "popular" ? 'active' : '' })%> /
        <%= link_to t(:no_reply), no_reply_posts_path, class: action_name == "no_reply" ? 'active' : '' %> /
        <%= link_to t(:recent), recent_posts_path, class: action_name == "recent" ? 'active' : '' %> /
      </div>
    </div>
    <%= render partial: 'posts', locals: {posts: @posts} %>
<% else %>
    <h4><%= t('no_recently_updated_posts') %></h4>
<% end %>
