<%= simple_form_for [:admin, @blog], html: {class: "form-horizontal form_new_blog"} do |f| %>
    <%= f.association :category, collection: Category.all %>

    <%= f.input :title %>
    <%= f.input :status, collection: Blog::STATUSES %>

    <div class="form-group">
      <div class="col-md-12">
        <%= f.cktext_area :content, ckeditor: {toolbar: "Easy", height: 380} %>
      </div>
    </div>

    <div class="form-group form-actions">
      <label class="col-md-5"> </label>

      <div class="col-md-7">
        <%= f.button :submit, "保 存", class: "btn btn-primary btn_new_post" %>
      </div>
    </div>
<% end %>
